<ion-grid>
  <ion-row>
    <ion-col style="display:flex" size-xs="12" size-md="8" size="8">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-searchbar
        style="--border-radius: 5px"
        placeholder="Search by Product name"
      ></ion-searchbar>
    </ion-col>
    <ion-col size-xs="6" size-md="2" size="2">
      <ion-list>
        <ion-select style="" aria-label="Fruit" interface="popover" placeholder="All">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-list>
    </ion-col>
    <ion-col size-xs="6" size-md="2" size="2">
      <ion-list>
        <ion-select
          aria-label="Fruit"
          interface="popover"
          placeholder="Most recent"
        >
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
