<ion-grid>
  <ion-row>
    <ion-col *ngIf="!isSearching && isMobile" size-xs="4">
      <ion-button (click)="onSearchClicked()" fill="tertiary">
        <ion-icon name="search"> </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col
      *ngIf="isSearching || !isMobile"
      style="display: flex"
      size-xs="12"
      size-md="10"
      size="8"
    >
      <ion-searchbar
        *ngIf="isMobile"
        style="--border-radius: 5px"
        placeholder="Search by Product name"
        (clickOutside)="hideSearchBar()"
        show-cancel-button="always"
        [debounce]="1000"
        (ionCancel)="hideSearchBar()"
      ></ion-searchbar>
      <ion-searchbar
        *ngIf="!isMobile"
        style="--border-radius: 5px"
        placeholder="Search by Product name"
        (clickOutside)="hideSearchBar()"
        [debounce]="1000"
        (ionCancel)="hideSearchBar()"
      ></ion-searchbar>
    </ion-col>
    <ion-col size-md="2" size-xs="2">
      <div style="display: flex" *ngIf="!isSearching">
        <ion-button fill="tertiary" id="sort-popover-button">
          <div style="display: flex; flex-direction: column">
            <ion-icon name="funnel-outline"></ion-icon>
            <p class="tiny">Sort & Filters</p>
          </div>
        </ion-button>
        <!-- <ion-button fill="tertiary" id="filter-popover-button"
          ><ion-icon name="filter-outline"></ion-icon>FILTER</ion-button
        > -->
      </div>
    </ion-col>
    <ion-popover trigger="sort-popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item
              *ngFor="let sortItem of filterSortLists.sort; let i = index"
              [button]="true"
              [detail]="false"
              (click)="onSort(sortItem)"
              >{{ sortItem.text }}</ion-item
            >
          </ion-list>
          <ion-list>
            <ion-item
              *ngFor="let filterItem of filterSortLists.filter; let i = index"
              [button]="true"
              [detail]="false"
              (click)="onFilter(filterItem)"
              >{{ filterItem.text }}</ion-item
            >
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
    <!--
    <ion-popover trigger="filter-popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item
              *ngFor="let filterItem of filterSortLists.filter; let i = index"
              [button]="true"
              [detail]="false"
              (click)="onFilter(filterItem)"
              >{{ filterItem.text }}</ion-item
            >
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover> -->
  </ion-row>
</ion-grid>
