ion-select {
  border-radius: 10px;
  border: 1px solid var(--ion-color-primary);
}

ion-select {
  --placeholder-color: #971e49;
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
}

ion-button {
  text-transform: none;
}

ion-searchbar {
  padding: 0px;
  margin: 0px;
}

ion-col {
  padding: 1px;
  // margin: 0px;
}

// ion-grid {
//   padding: 0px;
//   margin: 0px;
// }

// ion-row {
//   padding: 0px;
//   margin: 0px;
// }
