<div class="modal-outer-container">
  <app-dialog-header
    style="width: 100%"
    headerTitle="Select category"
    [onClose]="onCloseCategorySelectionModal"
  >
  </app-dialog-header>
  <ion-grid style="min-width: 400px">
    <ion-row>
      <ion-searchbar placeholder="Search categories"> </ion-searchbar>
    </ion-row>
    <ion-row>
      <ion-grid>
        <ion-content class="category-list-content">
          <ion-list class="category-list">
            <ion-item *ngFor="let category of categories">
              <ion-row style="width: 100%; height: 32px">
                <ion-checkbox
                  (ionChange)="onCategoryChange(category, $event)"
                  [checked]="isCategorySelected(category)"
                  style="width: 100%; height: 32px"
                >
                  {{ category.name }}
                </ion-checkbox>
              </ion-row>
            </ion-item>
            <ion-infinite-scroll (ionInfinite)="loadMoreCategories($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more categories..."
              ></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-list>
        </ion-content>
      </ion-grid>
    </ion-row>
  </ion-grid>
  <ion-button
    (click)="openCreateCategoryModal()"
    style="width: 100%"
    fill="outline"
  >
    <ion-icon slot="start" name="add"></ion-icon> Add new category
  </ion-button>

  <ion-button (click)="onSelectCategories()" style="width: 100%">
    Select
  </ion-button>
</div>
