.category-list-content {
  height: 60vh;
  overflow-y: scroll;
  @media only screen and (min-width: 768px) {
    max-height: 300px;
  }
}

.category-list-content::-webkit-scrollbar {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.category-list-content {
  @media only screen and (min-width: 768px) {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.category-list {
  @media only screen and (min-width: 768px) {
  }
}

.category-list::-webkit-scrollbar {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.category-list {
  @media only screen and (min-width: 768px) {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.modal-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

// ion-content {
//   –offset-bottom: auto !important;
//   –overflow: auto;
//   background: var(
//     –ion-toolbar-background,
//     var(–ion-background-color, #f4f5f8)
//   ) !important;
//   overflow: auto;

//   &::-webkit-scrollbar {
//     width: 15px;
//     height: 15px;
//   }

//   &::-webkit-scrollbar-track {
//     background: #fff;
//   }

//   &::-webkit-scrollbar-track:hover {
//     background: #f7f7f7;
//   }

//   &::-webkit-scrollbar-thumb {
//     background: #ccc;
//   }

//   &::-webkit-scrollbar-thumb:hover {
//     background: #94173a;
//   }

//   .inner-scroll {
//     scrollbar-width: thin;
//   }
// }
