<ion-header>
  <ion-toolbar>
    <app-dialog-header
      style="width: 100%"
      [headerTitle]="this.editProduct?._id ? 'Update product' : 'Add product'"
      [onClose]="onCloseProductCreationModal"
    >
    </app-dialog-header>
  </ion-toolbar>
</ion-header>
<div
  style="
    background-color: var(--ion-color-primary-contrast);
    height: 95%;
    overflow-y: scroll;
  "
>
  <form [formGroup]="productForm">
    <h5>Product Details</h5>
    <div style="display: flex; align-items: center; justify-content: center">
      <div
        style="
          padding: 10px;
          margin: 10px;
          border: 1.5px solid;
          width: 120px;
          height: 120px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
        "
      >
        <div>
          <ion-icon name="add-outline"></ion-icon>
          <ion-icon size="large" name="images-outline"></ion-icon>
        </div>

        <ion-label position="stacked">Add Photo</ion-label>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" size-xs="12">
          <ion-input
            label="Product Name"
            label-placement="floating"
            fill="outline"
            formControlName="name"
          ></ion-input>
        </ion-col>
        <ion-col size-md="6" size-xs="12">
          <ion-input
            (click)="openCreateCategoryModal()"
            label="Product Category"
            label-placement="floating"
            fill="outline"
            [value]="selectedCategoriesString"
          ></ion-input>
        </ion-col>
      </ion-row>
      <br /><br />
      <ion-row>
        <ion-toggle
          (ionChange)="onSameUnitsToggled($event)"
          [checked]="sameUnits"
          >Sales Unit same as Purchase Unit</ion-toggle
        >
      </ion-row>

      <ion-row>
        <ion-col size-md="12" size-xs="12">
          <ion-input
            label="Unit"
            label-placement="floating"
            fill="outline"
            formControlName="unit"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!sameUnits">
        <ion-col size-md="6" size-xs="12">
          <ion-input
            label="Purchase Unit"
            label-placement="floating"
            fill="outline"
            formControlName="purchaseUnitName"
          ></ion-input>
        </ion-col>
        <ion-col size-md="6" size-xs="12">
          <ion-input
            label="Conversion factor"
            label-placement="floating"
            fill="outline"
            formControlName="purchaseUnitConversion"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size-xs="6" size-md="4">
          <ion-input
            label="Sells price"
            label-placement="floating"
            fill="outline"
            formControlName="sellsPrice"
          ></ion-input>
        </ion-col>
        <ion-col size-xs="6" size-md="4">
          <ion-input
            label="Purchase price"
            label-placement="floating"
            fill="outline"
            formControlName="purchasePrice"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h5>Tax and inventory</h5>
    <ion-grid>
      <ion-row>
        <ion-toggle formControlName="taxIncluded" [checked]="true"
          >Tax included</ion-toggle
        ><br /><br />
      </ion-row>
      <ion-row>
        <ion-col size-md="6" size-xs="12">
          <ion-input
            label="Opening stock"
            label-placement="floating"
            fill="outline"
            formControlName="quantity"
          ></ion-input>
        </ion-col>
        <ion-col size-md="6" size-xs="12">
          <ion-input
            label="Low stock"
            label-placement="floating"
            fill="outline"
            formControlName="lowStock"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" size-xs="12">
          <ion-input
            label="Tax %"
            label-placement="floating"
            fill="outline"
            (click)="showTaxPopover($event)"
            [value]="gstPercentage"
            formControlName="gstPercentage"
          ></ion-input>
        </ion-col>
        <ion-col size-md="6" size-xs="12">
          <ion-input
            label="HSN code"
            label-placement="floating"
            fill="outline"
            formControlName="hsnCode"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <h5>Discounts</h5>
  <ion-button fill="outline" (click)="openDiscountsModal()">
    <ion-icon name="add"></ion-icon> Add Discount
  </ion-button>
  <app-discounts-list [discounts]="discounts"> </app-discounts-list>
  <h5>Variants</h5>
  <ion-button fill="outline" (click)="openVariantCreationModal()">
    <ion-icon name="add"></ion-icon> Add new Variant
  </ion-button>
  <app-variants-list [variants]="variants"></app-variants-list>
</div>

<ion-button
  style="
    display: flex;
    position: sticky;
    height: 60px;
    align-items: center;
    bottom: 0px;
    justify-content: flex-end;
    padding: 10px;
  "
  type="submit"
  class="btn btn-primary"
  (click)="createOrUpdateProduct()"
  [disabled]="productForm.invalid"
  >{{ this.editProduct?._id ? "Update product" : "Add product" }}</ion-button
>
