ion-modal {
  // display: flex;
  // // justify-content: flex-end;
  justify-content: end;
  height: 100%;
}

ion-modal .ion-page {
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
}

ion-modal {
  --height: 100%;
  --width: 700px;
}

ion-modal .ion-page .ion-content {
  flex-grow: 1;
}

.combined-unit-container {
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
}
