<ion-header>
  <ion-toolbar>
    <app-dialog-header
      style="width: 100%"
      [headerTitle]="this.editProduct?._id ? 'Update ' + type : 'Add ' + type"
      [onClose]="onCloseProductCreationModal"
    >
    </app-dialog-header>
  </ion-toolbar>
</ion-header>
<div
  style="
    background-color: var(--ion-color-primary-contrast);
    height: 95%;
    overflow-y: scroll;
    padding: 5px;
  "
>
  <form [formGroup]="productForm">
    <ion-accordion-group [multiple]="true" [value]="['first', 'fourth']">
      <ion-accordion value="first">
        <ion-item slot="header">
          <p style="color: var(--ion-color-primary)" class="titleRegular">
            {{ type }} Details
          </p>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <ion-row>
              <ion-col
                *ngIf="editProduct && editProduct.heroImage"
                (click)="selectHeroImage(editProduct.heroImage)"
              >
                <ion-card
                  [class]="heroImage ? '' : 'hero-image'"
                  style="width: 120px; height: 120px; border-radius: 10px"
                >
                  <ion-img [src]="editProduct.heroImage"> </ion-img>
                  <div class="hero-image-overlay">
                    <ion-label class="hero-image-text">Hero Image</ion-label>
                  </div>
                </ion-card>
              </ion-col>
              <ion-col
                (click)="selectHeroImage(image)"
                *ngFor="let image of editProduct?.images"
              >
                <ion-card
                  [class]="image === heroImage ? 'hero-image' : ''"
                  style="width: 120px; height: 120px; border-radius: 10px"
                >
                  <ion-img [src]="image"> </ion-img>
                  <div *ngIf="image === heroImage" class="hero-image-overlay">
                    <ion-label class="hero-image-text">Hero Image</ion-label>
                  </div>
                </ion-card>
              </ion-col>
              <ion-col *ngFor="let productImage of productImages">
                <div>
                  <ion-card
                    (click)="selectHeroImage(productImage)"
                    style="width: 120px; height: 120px; border-radius: 10px"
                    [class]="productImage === heroImage ? 'hero-image' : ''"
                  >
                    <ion-img
                      [src]="
                        productImage?.file
                          ? productImage?.imageUrl
                          : 'https://www.chanchao.com.tw/images/default.jpg'
                      "
                    >
                    </ion-img>

                    <div
                      *ngIf="
                        productImage.uploadStatus === UploadStatusEnum.UPLOADING
                      "
                      class="overlay"
                    >
                      <ion-label class="uploading-text">Uploading...</ion-label>
                    </div>
                    <div
                      *ngIf="productImage === heroImage"
                      class="hero-image-overlay"
                    >
                      <ion-label class="hero-image-text">Hero Image</ion-label>
                    </div>
                  </ion-card>
                  <ion-button
                    class="close-button"
                    fill="clear"
                    (click)="removeImage(productImage)"
                  >
                    <ion-icon name="close-circle"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
              <ion-col>
                <div style="padding: 10px; margin: 10px">
                  <input
                    type="file"
                    accept="image/*"
                    (change)="handleFileInput($event)"
                    id="fileInput"
                    multiple
                  />
                  <label for="fileInput">
                    <div
                      style="
                        padding: 10px;
                        border: 2px solid var(--ion-color-primary);
                        width: 120px;
                        height: 120px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        cursor: pointer;
                        text-align: center;
                      "
                    >
                      <div>
                        <ion-icon color="primary" name="add-outline"></ion-icon>
                        <ion-icon
                          color="primary"
                          size="large"
                          name="images-outline"
                        ></ion-icon>
                      </div>
                      <p
                        style="color: var(--ion-color-primary)"
                        position="stacked"
                      >
                        Add Photo
                      </p>
                    </div>
                  </label>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col size-md="6" size-xs="12">
                <ion-input
                  enterAsTab
                  label="{{ type }} Name"
                  label-placement="stacked"
                  fill="outline"
                  formControlName="name"
                ></ion-input>
              </ion-col>
              <ion-col size-md="6" size-xs="12">
                <ion-input
                  [label]="
                    type === ItemTypeEnum.PRODUCT
                      ? 'HSN'
                      : type === ItemTypeEnum.SERVICE
                      ? 'SAC'
                      : ''
                  "
                  label-placement="stacked"
                  fill="outline"
                  enterAsTab
                  (click)="openHSNCodeModal($event)"
                  formControlName="hsnCode"
                ></ion-input>
              </ion-col>
            </ion-row>
            <ion-grid>
              <ion-row>
                <ion-toggle formControlName="taxIncluded" [checked]="true"
                  ><p class="bodySecondary">Tax included</p></ion-toggle
                ><br /><br />
              </ion-row>
              <!-- <ion-row>
                <ion-col>
                  <ion-input
                    style="width: 100%"
                    fill="outline"
                    id="tax-preference-popover-button"
                    formControlName="taxPreference"
                    placeholder="Select Tax Preference Type"
                    label="Tax Preference Type"
                    label-placement="stacked"
                  >
                  </ion-input>
                </ion-col>
                <ion-popover
                  size="cover"
                  trigger="tax-preference-popover-button"
                  [dismissOnSelect]="true"
                >
                  <ng-template>
                    <ion-content>
                      <ion-list
                        style="max-height: 350px; overflow-y: scroll"
                        class="scrollbar"
                        id="style-1"
                      >
                        <ion-item
                          *ngFor="
                            let taxPreference of taxPreferenceList;
                            let i = index
                          "
                          [button]="true"
                          [detail]="false"
                          (click)="selectTaxPreference(taxPreference)"
                          ><div
                            style="
                              display: flex;
                              flex-direction: column;
                              padding: 10px;
                            "
                          >
                            <p>{{ taxPreference }}</p>
                          </div></ion-item
                        >
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-row> -->
              <ion-row>
                <ion-col size-md="6" size-xs="12">
                  <ion-input
                    label="Tax %"
                    label-placement="stacked"
                    fill="outline"
                    (click)="openGSTTaxPopover($event)"
                    [value]="gstPercentage"
                    formControlName="gstPercentage"
                  ></ion-input>
                </ion-col>
                <ion-col size-md="6" size-xs="12">
                  <ion-input
                    [label]="'Cess %'"
                    label-placement="stacked"
                    fill="outline"
                    (click)="openCessTaxPopover($event)"
                    [value]="cess"
                    formControlName="cess"
                  ></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-row>
              <ion-toggle
                (ionChange)="onSameUnitsToggled($event)"
                [checked]="sameUnits"
                *ngIf="type === ItemTypeEnum.PRODUCT"
                ><p class="bodySecondary">
                  Sales Unit same as Purchase Unit
                </p></ion-toggle
              >
            </ion-row>
            <ion-row>
              <ion-col size-md="12" size-xs="12">
                <ion-input
                  label="Unit"
                  label-placement="stacked"
                  fill="outline"
                  formControlName="unit"
                  style="width: 100%"
                  id="unit-popover-button"
                >
                </ion-input>
              </ion-col>
              <ion-popover
                trigger="unit-popover-button"
                [showBackdrop]="false"
                [dismissOnSelect]="true"
                [keyboardClose]="false"
              >
                <ng-template>
                  <ion-content>
                    <ion-list
                      style="max-height: 350px; overflow-y: scroll"
                      class="scrollbar"
                      id="style-1"
                    >
                      <ion-item
                        *ngFor="let unit of unitsList; let i = index"
                        [button]="true"
                        [detail]="false"
                        (click)="selectUnit(unit)"
                        ><div
                          style="
                            display: flex;
                            flex-direction: column;
                            padding: 10px;
                          "
                        >
                          <p>{{ unit }}</p>
                        </div></ion-item
                      >
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-row>
            <ion-row *ngIf="!sameUnits">
              <ion-col size-md="6" size-xs="12">
                <ion-input
                  label="Purchase Unit"
                  label-placement="stacked"
                  fill="outline"
                  formControlName="purchaseUnitName"
                  style="width: 100%"
                  id="purchase-unit-popover-button"
                >
                </ion-input>
              </ion-col>
              <ion-popover
                trigger="purchase-unit-popover-button"
                [showBackdrop]="false"
                [dismissOnSelect]="true"
                [keyboardClose]="false"
              >
                <ng-template>
                  <ion-content>
                    <ion-list
                      style="max-height: 350px; overflow-y: scroll"
                      class="scrollbar"
                      id="style-1"
                    >
                      <ion-item
                        *ngFor="let unit of unitsList; let i = index"
                        [button]="true"
                        [detail]="false"
                        (click)="selectPurchaseUnit(unit)"
                        ><div
                          style="
                            display: flex;
                            flex-direction: column;
                            padding: 10px;
                          "
                        >
                          <p>{{ unit }}</p>
                        </div></ion-item
                      >
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
              <ion-col size-md="6" size-xs="12">
                <ion-input
                  label="Conversion factor"
                  label-placement="stacked"
                  fill="outline"
                  formControlName="purchaseUnitConversion"
                ></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row *ngIf="type === ItemTypeEnum.PRODUCT">
              <ion-toggle
                (ionChange)="asPerMarginToggled($event)"
                formControlName="asPerMargin"
                [checked]="false"
                ><p class="bodySecondary">Sells as per margin</p></ion-toggle
              >
            </ion-row>
            <ion-row>
              <ion-col
                *ngIf="!productForm.value.asPerMargin"
                size-xs="6"
                size-md="4"
              >
                <ion-input
                  label="Sells price"
                  [readonly]="productForm.value.asPerMargin"
                  label-placement="stacked"
                  fill="outline"
                  formControlName="sellsPrice"
                  type="number"
                ></ion-input>
              </ion-col>
              <ion-col
                *ngIf="productForm.value.asPerMargin"
                size-xs="6"
                size-md="4"
              >
                <ion-input
                  label="Sells price"
                  [readonly]="productForm.value.asPerMargin"
                  label-placement="stacked"
                  fill="outline"
                  type="number"
                  [value]="
                    ((productForm.value.margin + 100) *
                      productForm.value.purchasePrice) /
                    100
                  "
                ></ion-input>
              </ion-col>
              <ion-col size-xs="6" size-md="4">
                <ion-input
                  label="Purchase price"
                  label-placement="stacked"
                  fill="outline"
                  formControlName="purchasePrice"
                  type="number"
                  *ngIf="type === ItemTypeEnum.PRODUCT"
                ></ion-input>
              </ion-col>
              <ion-col
                *ngIf="productForm.value.asPerMargin"
                size-xs="6"
                size-md="4"
              >
                <ion-input
                  label="% Margin"
                  label-placement="stacked"
                  fill="outline"
                  formControlName="margin"
                  [required]="asPerMargin"
                  type="number"
                ></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header">
          <p style="color: var(--ion-color-primary)" class="titleRegular">
            Variants
          </p>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button fill="outline" (click)="openVariantCreationModal()">
            <ion-icon name="add"></ion-icon> Add new Variant
          </ion-button>
          <app-variants-list [variants]="variants"></app-variants-list>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header">
          <p style="color: var(--ion-color-primary)" class="titleRegular">
            Discounts
          </p>
        </ion-item>

        <div class="ion-padding" slot="content">
          <ion-button fill="outline" (click)="openDiscountsModal()">
            <ion-icon name="add"></ion-icon> Add Discount
          </ion-button>

          <app-discounts-list [discounts]="discounts"> </app-discounts-list>
        </div>
      </ion-accordion>

      <ion-accordion value="fourth">
        <ion-item slot="header">
          <p style="color: var(--ion-color-primary)" class="titleRegular">
            Inventory & account
          </p>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid>
            <ion-row>
              <ion-col size-md="12" size-xs="12">
                <ion-input
                  (click)="openCreateCategoryModal()"
                  label="{{ type }} Category"
                  label-placement="stacked"
                  fill="outline"
                  [value]="selectedCategoriesString"
                ></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="type === ItemTypeEnum.PRODUCT">
              <ion-col size-md="6" size-xs="12">
                <ion-input
                  label="Opening stock"
                  label-placement="stacked"
                  fill="outline"
                  formControlName="quantity"
                  type="number"
                ></ion-input>
              </ion-col>
              <ion-col size-md="6" size-xs="12">
                <ion-input
                  label="Low stock"
                  label-placement="stacked"
                  fill="outline"
                  formControlName="lowStock"
                  type="number"
                ></ion-input>
              </ion-col>
            </ion-row>
            <ion-row formGroupName="account">
              <ion-col size-md="6" size-xs="12">
                <ion-input
                  id="sales-account-trigger"
                  label="Sales Account"
                  label-placement="stacked"
                  fill="outline"
                  formControlName="sales"
                ></ion-input>
              </ion-col>
              <ion-col size-md="6" size-xs="12">
                <ion-input
                  id="purchase-account-trigger"
                  label="Purchase Account"
                  label-placement="stacked"
                  fill="outline"
                  formControlName="purchase"
                ></ion-input>
              </ion-col>
            </ion-row>

            <ion-popover
              class="custom-popover"
              trigger="sales-account-trigger"
              triggerAction="click"
              style="--height: 350px"
              #popoverRef
            >
              <ng-template>
                <ion-content style="height: 250px" class="ion-padding">
                  <ion-list
                    style="max-height: 350px; overflow-y: scroll"
                    class="scrollbar"
                    id="style-1"
                  >
                    <ion-item
                      [button]="true"
                      *ngFor="let account of accountsList.income"
                      (click)="
                        onSalesAccountChange(account); popoverRef.dismiss()
                      "
                    >
                      <p class="bodyRegularMobile">
                        {{ account }}
                      </p>
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>

            <ion-popover
              class="custom-popover"
              trigger="purchase-account-trigger"
              triggerAction="click"
              style="--height: 350px"
              #popoverRef
            >
              <ng-template>
                <ion-content>
                  <ion-list
                    style="max-height: 350px; overflow-y: scroll"
                    class="scrollbar"
                    id="style-1"
                  >
                    <ion-item
                      [button]="true"
                      *ngFor="let account of accountsList.expense"
                      (click)="
                        onPurchaseAccountChange(account); popoverRef.dismiss()
                      "
                    >
                      <p class="bodyRegularMobile">
                        {{ account }}
                      </p>
                    </ion-item>
                    <ion-item
                      [button]="true"
                      *ngFor="let account of accountsList.cogs"
                      (click)="
                        onPurchaseAccountChange(account); popoverRef.dismiss()
                      "
                    >
                      <p class="bodyRegularMobile">
                        {{ account }}
                      </p>
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-grid>
        </div>
      </ion-accordion>

      <ion-accordion value="fifth">
        <ion-item slot="header">
          <p style="color: var(--ion-color-primary)" class="titleRegular">
            Additional Fields
          </p>
        </ion-item>

        <div class="ion-padding" slot="content">
          <app-additional-fields-list
            [additionalFields]="additionalFields"
          ></app-additional-fields-list>
          <ion-button fill="outline" (click)="onAddAdditionalField()">
            <ion-icon name="add"></ion-icon> Add Additional Fields
          </ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </form>
</div>

<ion-button
  style="
    display: flex;
    position: sticky;
    height: 60px;
    align-items: center;
    bottom: 0px;
    justify-content: flex-end;
    padding: 10px;
  "
  type="submit"
  class="btn btn-primary"
  (click)="createOrUpdateProduct()"
  [disabled]="isAddUpdateProductDisabled()"
  ><ion-spinner *ngIf="isLoading"></ion-spinner
  >{{ this.editProduct?._id ? "Update " + type : "Add " + type }}</ion-button
>
