ion-modal {
  // display: flex;
  // // justify-content: flex-end;
  justify-content: end;
  height: 100%;
}
#fileInput {
  display: none;
}

ion-modal .ion-page {
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
}

ion-modal {
  --height: 100%;
  --width: 700px;
}

ion-modal .ion-page .ion-content {
  flex-grow: 1;
}

.combined-unit-container {
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as desired */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  border: 5px solid var(--ion-color-primary);
}

.hero-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.hero-image-text {
  color: white;
  background-color: var(--ion-color-primary);
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.uploading-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
