<div class="list-outer-container">
  <ion-row class="list-row-container">
    <ion-grid style="height: 95%">
      <ion-row *ngIf="!isMobile" class="customers-list-header-row">
        <ion-col
          style="display: flex; align-items: center"
          [size]="(screenState$ | async)?.isMobile ? 9 : 8"
        >
          <ion-checkbox
            (ionChange)="ledgerData.selectAllToggle($event)"
            *ngIf="ledgerData.enableMultiSelect"
          ></ion-checkbox>

          <ion-button fill="clear" [disabled]="ledgerData.isLoading">
            <p color="primary">{{ ledgerData.col1Title }}</p>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" [disabled]="ledgerData.isLoading">
            <p color="primary">{{ ledgerData.col2Title }}</p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-content
        style="
          /* background-color: var(--ion-color-primary-contrast); */
          overflow-y: scroll;
        "
        class="list-height hide-scrollbar"
      >
        <ion-list
          style="overflow-x: hidden"
          [class]="!isMobile ? 'scrollbar' : ''"
          id="style-1"
        >
          <div
            *ngIf="isMobile"
            style="
              background-color: var(--ion-color-secondary);
              padding: 6px;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              width: 100%;
              height: 173px;
              overflow: hidden;
            "
          >
            <ng-content
              *ngComponentOutlet="mobileListHeaderComponent; injector: injector"
            >
            </ng-content>
          </div>
          <ion-row
            *ngIf="ledgerData.isLoading"
            style="
              background-color: var(--ion-color-primary-contrast);
              border-radius: 5px;
              padding: 10px;
              margin: 5px;
            "
          >
            <ion-col [size]="(screenState$ | async)?.isMobile ? 9 : 8">
              <ion-row
                style="display: flex; align-items: center; text-align: center"
              >
                <div>
                  <ion-avatar>
                    <ion-skeleton-text
                      [animated]="true"
                      style="width: 100%"
                    ></ion-skeleton-text>
                  </ion-avatar>
                </div>
                <div style="display: flex; flex-direction: column">
                  <p style="overflow-wrap: anywhere">
                    <ion-skeleton-text
                      [animated]="true"
                      style="width: 120px"
                    ></ion-skeleton-text>
                  </p>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 80px"
                  ></ion-skeleton-text>

                  <p style="overflow-wrap: anywhere">
                    <ion-skeleton-text
                      [animated]="true"
                      style="width: 60px"
                    ></ion-skeleton-text>
                  </p>
                </div>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ion-skeleton-text
                [animated]="true"
                style="width: 80px"
              ></ion-skeleton-text>
              <ion-skeleton-text
                [animated]="true"
                style="width: 60px"
              ></ion-skeleton-text>
            </ion-col>
            <ion-col size="1" *ngIf="!(screenState$ | async)?.isMobile">
              <ion-skeleton-text
                [animated]="true"
                style="width: 100%"
              ></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <div
            *ngFor="let ledger of ledgerData.ledgerItems; trackBy: trackByFn"
          >
            <ion-row
              style="
                background-color: var(--ion-color-primary-contrast);
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
              "
              ion-button
              long-press
              (press)="ledgerData.onLongPress()"
              (click)="ledger.onClick(ledger)"
            >
              <ion-col [size]="(screenState$ | async)?.isMobile ? 9 : 8">
                <ion-row
                  style="
                    display: flex;
                    align-items: center;
                    text-align: center;
                    flex-wrap: nowrap;
                  "
                >
                  <ion-checkbox
                    [checked]="ledgerData.isSelected(ledger.id)"
                    (ionChange)="
                      ledgerData.onSelectionToggle($event, ledger.id)
                    "
                    *ngIf="ledgerData.enableMultiSelect"
                  ></ion-checkbox>

                  <div
                    style="
                      width: 40px;
                      height: 40px;
                      margin-left: 5px;
                      margin-right: 5px;
                    "
                  >
                    <ion-avatar style="width: fit-content; height: fit-content">
                      <ion-img
                        [src]="
                          ledger.imageUrl
                            ? ledger.imageUrl
                            : 'https://www.chanchao.com.tw/images/default.jpg'
                        "
                      ></ion-img>
                    </ion-avatar>
                  </div>
                  <div style="display: flex; flex-direction: column">
                    <p
                      class="titleRegular"
                      style="overflow-wrap: anywhere; text-align: start"
                    >
                      {{ ledger.title }}
                    </p>
                    <ion-chip *ngIf="ledger.chipText" fill="outline">
                      <p style="text-align: start" class="caption">
                        {{ ledger.chipText }}
                      </p>
                    </ion-chip>
                    <p
                      class="caption"
                      style="overflow-wrap: anywhere; text-align: start"
                    >
                      {{ ledger.subTitle }}
                    </p>
                  </div>
                </ion-row>
              </ion-col>
              <ion-col size="3">
                <ion-row
                  style="display: flex; align-items: center; text-align: center"
                >
                  <div style="display: flex; flex-direction: column">
                    <p
                      [class]="ledger.amount.color"
                      class="bodyPrimary"
                      style="overflow-wrap: anywhere"
                    >
                      ₹ {{ ledger.amount.text }}
                    </p>

                    <p
                      *ngIf="ledger.amountSubtitle"
                      [class]="ledger.amountSubtitle.color"
                      class="caption"
                      style="overflow-wrap: anywhere"
                    >
                      {{ ledger.amountSubtitle.text }}
                    </p>
                  </div>
                </ion-row></ion-col
              >
              <ion-col size="1" *ngIf="!(screenState$ | async)?.isMobile">
                <ion-button
                  fill="tertiary"
                  (click)="ledger.openDetailsPage(ledger)"
                >
                  <ion-icon name="open-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <div
              style="
                border-bottom: 1px solid lightblue;
                margin-left: 10px;
                margin: right 20px;
              "
            ></div>
          </div>
        </ion-list>
        <ion-infinite-scroll
          (ionInfinite)="loadMoreDataEvent($event)"
          *ngIf="isMobile"
          [disabled]="false"
        >
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </ion-grid>
  </ion-row>
  <ion-row *ngIf="!isMobile" style="width: 100%; bottom: 10px">
    <app-pagination-component
      style="width: 100%"
      [currentPage]="ledgerData.currentPage"
      [totalPages]="ledgerData.totalPages"
      (pageChange)="ledgerData.goToPage($event)"
      (pageSizeChange)="ledgerData.changePageSize($event)"
    ></app-pagination-component>
  </ion-row>
</div>
