<div class="list-outer-container">
  <ion-row class="list-row-container">
    <ion-grid style="height: 95%">
      <ion-row class="header-row">
        <ion-col
          style="display: flex; align-items: center"
          [size]="(screenState$ | async)?.isMobile ? 9 : 8"
        >
          <ion-button fill="tertiary" [disabled]="ledgerData.isLoading">
            <ion-text color="primary">{{ ledgerData.col1Title }}</ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button [disabled]="ledgerData.isLoading" fill="tertiary">
            <ion-text color="primary">{{ ledgerData.col2Title }}</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-list
        style="
          /* background-color: var(--ion-color-primary-contrast); */
          overflow-y: scroll;
          height: 95%;
        "
      >
        <ion-row
          *ngIf="ledgerData.isLoading"
          style="
            background-color: var(--ion-color-primary-contrast);
            border-radius: 5px;
            padding: 10px;
            margin: 5px;
          "
        >
          <ion-col [size]="(screenState$ | async)?.isMobile ? 9 : 8">
            <ion-row
              style="display: flex; align-items: center; text-align: center"
            >
              <div>
                <ion-avatar>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 100%"
                  ></ion-skeleton-text>
                </ion-avatar>
              </div>
              <div style="display: flex; flex-direction: column">
                <p style="overflow-wrap: anywhere">
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 120px"
                  ></ion-skeleton-text>
                </p>
                <ion-skeleton-text
                  [animated]="true"
                  style="width: 80px"
                ></ion-skeleton-text>

                <p style="overflow-wrap: anywhere">
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 60px"
                  ></ion-skeleton-text>
                </p>
              </div>
            </ion-row>
          </ion-col>
          <ion-col size="3">
            <ion-skeleton-text
              [animated]="true"
              style="width: 80px"
            ></ion-skeleton-text>
            <ion-skeleton-text
              [animated]="true"
              style="width: 60px"
            ></ion-skeleton-text>
          </ion-col>
          <ion-col size="1" *ngIf="!(screenState$ | async)?.isMobile">
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%"
            ></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <div *ngFor="let ledger of ledgerData.ledgerItems; let i = index">
          <ion-row
            *ngIf="!ledgerData.isLoading"
            style="
              background-color: var(--ion-color-primary-contrast);
              border-radius: 5px;
              padding: 10px;
              margin: 5px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
            "
            (click)="ledger.onClick(ledger)"
          >
            <ion-col [size]="(screenState$ | async)?.isMobile ? 9 : 8">
              <ion-row
                style="display: flex; align-items: center; text-align: center"
              >
                <div style="width: 50px; height: 50px">
                  <ion-avatar style="width: fit-content; height: fit-content">
                    <ion-img
                      [src]="
                        ledger.imageUrl
                          ? ledger.imageUrl
                          : 'https://www.chanchao.com.tw/images/default.jpg'
                      "
                    ></ion-img>
                  </ion-avatar>
                </div>
                <div style="display: flex; flex-direction: column">
                  <p style="overflow-wrap: anywhere">
                    {{ ledger.title }}
                  </p>
                  <ion-chip fill="outline">
                    <p class="caption">
                      {{ ledger.chipText }}
                    </p>
                  </ion-chip>
                  <p class="caption" style="overflow-wrap: anywhere">
                    {{ ledger.subTitle }}
                  </p>
                </div>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ion-row
                style="display: flex; align-items: center; text-align: center"
              >
                <div style="display: flex; flex-direction: column">
                  <p class="title3" style="overflow-wrap: anywhere">
                    {{ ledger.amount }}
                  </p>

                  <p class="caption" style="overflow-wrap: anywhere">
                    {{ ledger.amountSubtitle }}
                  </p>
                </div>
              </ion-row></ion-col
            >
            <ion-col size="1" *ngIf="!(screenState$ | async)?.isMobile">
              <ion-button
                fill="tertiary"
                (click)="ledger.openDetailsPage(ledger)"
              >
                <ion-icon name="open-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-list>
    </ion-grid>
  </ion-row>
  <ion-row style="width: 100%; bottom: 10px">
    <app-pagination-component
      style="width: 100%"
      [currentPage]="ledgerData.currentPage"
      [totalPages]="ledgerData.totalPages"
      (pageChange)="ledgerData.goToPage($event)"
      (pageSizeChange)="ledgerData.changePageSize($event)"
    ></app-pagination-component>
  </ion-row>
</div>
