<div
  style="
    padding: 2.5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 44.5px;
  "
>
  <div style="width: 35px; height: 35px">
    <ion-avatar style="width: fit-content; height: fit-content">
      <img
        alt="Silhouette of a person's head"
        [src]="
          userStoreInfoState?.photoUrl
            ? userStoreInfoState?.photoUrl
            : 'https://ionicframework.com/docs/img/demos/avatar.svg'
        "
      />
    </ion-avatar>
  </div>
</div>
