<ion-row>
  <div>
    <ion-label position="stacked">Search for products</ion-label>
    <ion-searchbar placeholder="Search by Product name"></ion-searchbar>
  </div>
  <div>
    <ion-label position="stacked">Filter by</ion-label>
    <ion-list>
      <ion-item>
        <ion-select aria-label="Fruit" interface="popover" placeholder="All">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <div>
    <ion-label position="stacked">Sort by</ion-label>
    <ion-list>
      <ion-item>
        <ion-select
          aria-label="Fruit"
          interface="popover"
          placeholder="Most recent"
        >
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-row>
<app-pagination-component
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="goToPage($event)"
  (pageSizeChange)="changePageSize($event)"
></app-pagination-component>
<ion-row>
  <ion-grid>
    <ion-row class="header-row">
      <ion-col>
        <ion-text color="primary">Product Name</ion-text>
      </ion-col>

      <ion-col>
        <ion-text color="primary">Sales Price</ion-text>
      </ion-col>

      <ion-col>
        <ion-text color="primary">Stock Quantity</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text> CUp </ion-text>
      </ion-col>

      <ion-col>
        <ion-text> ₹1,000 </ion-text>
      </ion-col>

      <ion-col>
        <ion-text> 200 </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text> CUp </ion-text>
      </ion-col>

      <ion-col>
        <ion-text> ₹1,000 </ion-text>
      </ion-col>

      <ion-col>
        <ion-text> 200 </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text> CUp </ion-text>
      </ion-col>

      <ion-col>
        <ion-text> ₹1,000 </ion-text>
      </ion-col>

      <ion-col>
        <ion-text> 200 </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-row>
<ion-row>
  <app-item-creation> </app-item-creation>
</ion-row>
