.list-outer-container {
  // background-color: var(--ion-color-primary-contrast);

  display: flex;
  flex-direction: column;

  height: 100vh;

  @media only screen and (min-width: 768px) {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    height: 98vh;
  }
}

.list-row-container {
  flex: 1;
  max-height: 60%;
  @media only screen and (min-width: 768px) {
    max-height: 75%;
  }
}
