<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      routerDirection="root"
      routerLink="home"
      lines="none"
      detail="false"
      routerLinkActive="selected"
    >
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button
      routerDirection="root"
      routerLink="transactions"
      lines="none"
      detail="false"
      routerLinkActive="selected"
    >
      <ion-icon aria-hidden="true" name="cash"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button
      routerDirection="root"
      lines="none"
      detail="false"
      routerLink="items"
      routerLinkActive="selected"
    >
      <ion-icon aria-hidden="true" name="pricetags"></ion-icon>
      <ion-label>Items</ion-label>
    </ion-tab-button>
    <ion-tab-button
    routerDirection="root"
    lines="none"
    detail="false"
    routerLinkActive="selected"
  >
    <ion-icon aria-hidden="true" name="cart"></ion-icon>
    <ion-label>Orders</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
