<!-- your-popover.component.html -->
<div class="min-modal-width" style="padding: 20px">
  <app-dialog-header
    style="width: 100%"
    headerTitle="Add HSN code"
    [onClose]="onClosePopover"
  >
  </app-dialog-header>
  <ion-content class="hsn-content-style">
    <ion-list>
      <ion-item
        style="padding-top: 5px; padding-bottom: 5px"
        *ngFor="let item of hsnCodes"
        (click)="selectItem(item)"
        ><div style="display: flex; flex-direction: column">
          <p class="bodyPrimary">
            {{ item.code }}
          </p>
          <p class="caption">
            {{ item.description }}
          </p>
        </div></ion-item
      >
    </ion-list>
    <ion-infinite-scroll
      [disabled]="false"
      (ionInfinite)="loadMoreData($event)"
    >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  <ion-item style="margin-top: 20px">
    <ion-input
      [(ngModel)]="newItem"
      placeholder="Search or enter hsn code"
    ></ion-input>
    <ion-button slot="end" (click)="addItem()" [disabled]="!newItem"
      >Add</ion-button
    >
  </ion-item>
</div>
