<ion-content>
  <form
    style="margin-right: 140px; padding: 10px; gap: 10px"
    [formGroup]="salesForm"
  >
    <ion-grid>
      <ion-row>
        <ion-col size-md="5">
          <ion-input
            id="invoice-date-selection-popover-button"
            label-placement="stacked"
            fill="outline"
            label="Invoice Date"
            formControlName="date"
          ></ion-input>
          <ion-popover
            trigger="invoice-date-selection-popover-button"
            [showBackdrop]="false"
            [dismissOnSelect]="true"
            [keyboardClose]="false"
          >
            <ng-template>
              <ion-content>
                <ion-datetime></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="5">
          <ion-searchbar
            id="supplier-selection-popover-button"
            placeholder="Select supplier"
            (ionClear)="removeSelectedParty()"
            [value]="selectedParty && getPartyDetails(selectedParty).name"
          >
          </ion-searchbar>
          <ion-popover
            trigger="supplier-selection-popover-button"
            [showBackdrop]="false"
            [dismissOnSelect]="true"
            [keyboardClose]="false"
          >
            <ng-template>
              <ion-content>
                <ion-item [detail]="false">
                  <ion-button (click)="openAddPartyModal()">
                    Create new
                  </ion-button>
                </ion-item>
                <ion-list
                  style="max-height: 350px; overflow-y: scroll"
                  class="scrollbar"
                  id="style-1"
                >
                  <ion-item
                    *ngFor="let party of suppliers; let i = index"
                    [button]="true"
                    [detail]="false"
                    (click)="selectTransactionParty(party)"
                    ><div
                      style="
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                      "
                    >
                      <p>{{ getPartyDetails(party).name }}</p>
                    </div></ion-item
                  >
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="5">
          <ion-input
            style="width: 100%"
            fill="outline"
            id="gst-type-popover-button"
            formControlName="gstType"
            placeholder="Select GST Type"
            label="GST Type"
            label-placement="stacked"
            [readonly]="true"
          >
          </ion-input>
        </ion-col>
        <ion-popover
          size="cover"
          trigger="gst-type-popover-button"
          [dismissOnSelect]="true"
        >
          <ng-template>
            <ion-content>
              <app-gst-type-list
                (onSelect)="selectGSTType($event)"
              ></app-gst-type-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-row>
      <ion-row *ngIf="selectedGSTType?.isGstin">
        <ion-col size-md="5">
          <ion-input
            label="Supplier GSTIN"
            label-placement="stacked"
            fill="outline"
            placeholder="Add GSTIN"
            formControlName="gstin"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="5">
          <ion-input
            label-placement="stacked"
            fill="outline"
            label="Source of Supply"
            id="state-selection-popover-button"
            formControlName="stateOfSupply"
            [readonly]="true"
          ></ion-input>
          <ion-popover
            trigger="state-selection-popover-button"
            [showBackdrop]="false"
            [dismissOnSelect]="true"
            [keyboardClose]="false"
          >
            <ng-template>
              <ion-content>
                <app-state-popover
                  (onSelect)="onStateSelect($event)"
                ></app-state-popover>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="5">
          <ion-input
            label-placement="stacked"
            fill="outline"
            label="Destination of Suppy"
            id="destination-state-selection-popover-button"
            formControlName="destinationOfSupply"
            [readonly]="true"
          ></ion-input>
          <ion-popover
            trigger="destination-state-selection-popover-button"
            [showBackdrop]="false"
            [dismissOnSelect]="true"
            [keyboardClose]="false"
          >
            <ng-template>
              <ion-content>
                <app-state-popover
                  (onSelect)="onStateSelect($event)"
                ></app-state-popover>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
      <div>
        <ion-row>
          <ion-col class="item-form-col row" size-md="3">
            <p class="subHeading" position="stacked" for="items">
              EXPENSE ACCOUNT
            </p>
          </ion-col>
          <ion-col class="item-form-col row" size="3">
            <p class="subHeading" position="stacked" for="quantity">NOTES</p>
          </ion-col>
          <ion-col class="item-form-col row" size="3">
            <p class="subHeading" position="stacked" for="sellingPrice">TAX</p>
          </ion-col>
          <ion-col class="item-form-col row last" size="3">
            <p class="subHeading" position="stacked" for="amount1">
              AMOUNT (₹)
            </p>
          </ion-col>
        </ion-row>
        <div
          formArrayName="items"
          *ngFor="let item of getFormControls.controls; let i = index"
        >
          <ion-row [formGroupName]="i">
            <ion-col class="item-form-col" size-md="3">
              <div [id]="'expense-account-selection-popover-button' + i">
                <ion-input
                  class="expense-account-form-input"
                  type="text"
                  fill="outline"
                  [readonly]="true"
                  formControlName="expenseAccount"
                  placeholder="Select Account"
                  required
                ></ion-input>
              </div>

              <ion-popover
                class="custom-popover"
                [trigger]="'expense-account-selection-popover-button' + i"
                triggerAction="click"
                style="--height: 350px"
                [dismissOnSelect]="true"
              >
                <ng-template>
                  <ion-content>
                    <ion-list
                      style="max-height: 350px; overflow-y: scroll"
                      class="scrollbar"
                      id="style-1"
                    >
                      <ion-item
                        [button]="true"
                        *ngFor="let account of accountsTypeList.expense"
                        (click)="onPurchaseAccountChange(account, i)"
                      >
                        <p class="bodyRegularMobile">
                          {{ account }}
                        </p>
                      </ion-item>
                      <ion-item
                        [button]="true"
                        *ngFor="let account of accountsTypeList.cogs"
                        (click)="onPurchaseAccountChange(account, i)"
                      >
                        <p class="bodyRegularMobile">
                          {{ account }}
                        </p>
                      </ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>
            <ion-col class="item-form-col" size="3">
              <ion-textarea
                class="item-form-input"
                fill="outline"
                type="text"
                required
                formControlName="notes"
                maxlength="500"
                [counter]="true"
              ></ion-textarea>
              <!-- <ng-container *ngIf="getItemDetails(i) as itemDetails">
                <div class="bodyMedium">
                  <p *ngIf="itemDetails.taxIncluded">( Tax Inclusive )</p>
                </div>
              </ng-container> -->
            </ion-col>
            <ion-col class="item-form-col" size="3">
              <ion-row>
                <ion-col>
                  <ion-input
                    label="GST %"
                    label-placement="stacked"
                    fill="outline"
                    (click)="openGSTTaxPopover($event, i)"
                    formControlName="gstPercentage"
                  ></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input
                    [label]="'Cess %'"
                    label-placement="stacked"
                    fill="outline"
                    (click)="openCessTaxPopover($event, i)"
                    formControlName="cess"
                  ></ion-input>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="item-form-col last" size="3">
              <div style="display: flex; flex-direction: row">
                <ion-input
                  class="item-form-input"
                  type="number"
                  required
                  formControlName="amount"
                  fill="outline"
                ></ion-input>
                <div>
                  <ion-icon
                    *ngIf="i > 0"
                    style="cursor: pointer; font-size: 22px"
                    (click)="removeItem(i)"
                    name="trash-outline"
                  ></ion-icon>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="form-row">
          <div>
            <ion-button
              type="button"
              class="btn btn-success"
              (click)="addItem()"
              >Add Item</ion-button
            >
          </div>
        </div>
      </div>
      <ion-row>
        <ion-col size-md="5">
          <ion-input
            label-placement="stacked"
            fill="outline"
            label="Invoice Number"
            formControlName="invoiceId"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="5">
          <ion-searchbar
            id="customer-selection-popover-button"
            placeholder="Select customer"
            (ionClear)="removeSelectedParty()"
            [value]="selectedParty && getPartyDetails(selectedParty).name"
          >
          </ion-searchbar>
          <ion-popover
            trigger="customer-selection-popover-button"
            [showBackdrop]="false"
            [dismissOnSelect]="true"
            [keyboardClose]="false"
          >
            <ng-template>
              <ion-content>
                <ion-item [detail]="false">
                  <ion-button (click)="openAddPartyModal()">
                    Create new
                  </ion-button>
                </ion-item>
                <ion-list
                  style="max-height: 350px; overflow-y: scroll"
                  class="scrollbar"
                  id="style-1"
                >
                  <ion-item
                    *ngFor="let party of customers; let i = index"
                    [button]="true"
                    [detail]="false"
                    (click)="selectTransactionParty(party)"
                    ><div
                      style="
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                      "
                    >
                      <p>{{ getPartyDetails(party).name }}</p>
                    </div></ion-item
                  >
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
