// typography.scss

// .display
.display {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
}

// .titleXLarge
.titleXLarge {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
}

// .titleLarge
.titleLarge {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0;
}

// .titleMedium
.titleMedium {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
}

// .titleRegular
.titleRegular {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

// .titleSmall
.titleSmall {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

// .bodyPrimary
.bodyPrimary {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

// .bodyLarge
.bodyLarge {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
}

// .bodySecondary
.bodySecondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

// .caption
.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

// .tiny
.tiny {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
}

// .subHeading
.subHeading {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
}

// .title1
.title1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

// .title1Mobile
.title1Mobile {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
}

// .title2
.title2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
}

// .title2Mobile
.title2Mobile {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

// .title3
.title3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

// .title3Mobile
.title3Mobile {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

// .title4
.title4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

// .textPlaceholder
.textPlaceholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

// .title4Mobile
.title4Mobile {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0;
}

// .bodyRegularMobile
.bodyRegularMobile {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}

// .bodyRegular
.bodyRegular {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

// .bodySmall
.bodySmall {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
}

// .buttonLarge
.buttonLarge {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

// .buttonRegular
.buttonRegular {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

// .captionMobile
.captionMobile {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
}

// .captionBold
.captionBold {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

// .text1Bold
.text1Bold {
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0;
}

// .toast
.toast {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

// .toastMobile
.toastMobile {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
}
