<ion-grid *ngIf="discounts && discounts.length > 0">
  <div *ngFor="let discount of discounts; let i = index">
    <ion-card>
      <ion-row>
        <ion-col size-xs="6">
          <ion-input
            [readonly]="readonly"
            label-placement="stacked"
            fill="outline"
            label="Code"
            [(ngModel)]="discount.code"
          ></ion-input>
        </ion-col>
        <ion-col size-xs="6">
          <ion-input
            [readonly]="readonly"
            type="number"
            label-placement="stacked"
            fill="outline"
            [label]="'Discount ' + discount.type"
            [min]="0"
            [max]="100"
            [(ngModel)]="discount.value"
          ></ion-input>
        </ion-col>
        <ion-col size-xs="6">
          <ion-input
            [readonly]="readonly"
            label-placement="stacked"
            fill="outline"
            [label]="
              'Minimum ' +
              (discount.minType === 'orderQuantity' ? 'quantity' : 'value')
            "
            [(ngModel)]="discount.minimum"
          ></ion-input>
        </ion-col>
        <ion-col size-xs="6">
          <ion-input
            [readonly]="readonly"
            label-placement="stacked"
            fill="outline"
            label="Maximum Value"
            [(ngModel)]="discount.maxDiscount"
          ></ion-input>
        </ion-col> </ion-row
    ></ion-card>
  </div>
</ion-grid>
