<ion-grid>
  <ion-row
    style="background-color: var(--ion-color-medium); border-radius: 5px"
  >
    <ion-col size="3"> Type </ion-col>
    <ion-col size="3"> Code </ion-col>
    <ion-col size="2"> Value </ion-col>
    <ion-col size="2"> Minimum Order </ion-col>
    <ion-col size="2"> Max Discount </ion-col>
  </ion-row>
  <div *ngFor="let discount of discounts; let i = index">
    <ion-row>
      <ion-col size="3">
        {{ discount.type }}
      </ion-col>
      <ion-col size="3">
        <ion-input
          [readonly]="readonly"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="discount.code"
        ></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-input
          [readonly]="readonly"
          type="number"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="discount.value"
        ></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-input
          [readonly]="readonly"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="discount.minimum"
        ></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-input
          [readonly]="readonly"
          label-placement="floating"
          fill="outline"
          [(ngModel)]="discount.maxDiscount"
        ></ion-input>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
