<ion-app>
  <ion-menu
    *ngIf="!currentRoute?.includes('login')"
    contentId="main-content"
    type="overlay"
  >
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>TaxPayer Corner</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list id="inbox-list">
        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let p of appPages; let i = index"
        >
          <ion-item
            routerDirection="root"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <ion-icon
              aria-hidden="true"
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-item (click)="onLogoutClicked()">
        <ion-icon aria-hidden="true" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>

  <div id="main-content" style="width: 100%; height: 100%">
    <ion-grid style="width: 100%; height: 100%; padding: 0px">
      <ion-row style="width: 100%; height: 100vh">
        <ion-col
          class="sidebar-col"
          *ngIf="
            !(screenState$ | async)?.isMobile &&
            !currentRoute?.includes('login')
          "
        >
          <ion-menu-button>
            <ion-icon color="light" name="arrow-forward"></ion-icon>
          </ion-menu-button>

          <div class="collapsed-menu-buttons-container">
            <div auto-hide="false" *ngFor="let p of appPages; let i = index">
              <div class="desktop-menu-button-outer-container">
                <div
                  routerDirection="root"
                  [routerLink]="[p.url]"
                  lines="none"
                  detail="false"
                  routerLinkActive="selected"
                  class="desktop-menu-button-container"
                >
                  <ion-icon
                    size="medium"
                    aria-hidden="true"
                    slot="start"
                    [ios]="p.icon + '-outline'"
                    [md]="p.icon + '-sharp'"
                  ></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <ion-router-outlet> </ion-router-outlet>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- </ion-split-pane> -->

  <app-tabs
    *ngIf="(screenState$ | async)?.isMobile && !currentRoute?.includes('login')"
  ></app-tabs>
</ion-app>
