<div style="background-color: white">
  <app-basic-party-details
    *ngIf="basicPartyDetails"
    [partyDetails]="basicPartyDetails"
  >
  </app-basic-party-details>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="height: 70px">
          Number of orders
          <p class="titleLarge">10</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="height: 70px">
          Pending invoices
          <p class="titleLarge">10</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="display: flex; flex-direction: row"></div>
  <ion-accordion-group [multiple]="true">
    <ion-accordion
      *ngIf="
        customerDetails &&
        customerDetails.customerStoreInfo &&
        customerDetails.customerStoreInfo.addresses &&
        customerDetails.customerStoreInfo.addresses.length > 0
      "
      value="first"
    >
      <ion-item slot="header" color="light">
        <ion-label>Addresses</ion-label>
      </ion-item>
      <div
        *ngFor="let address of customerDetails.customerStoreInfo.addresses"
        class="ion-padding"
        slot="content"
      >
        {{ address | json }}
      </div>
    </ion-accordion>
    <ion-accordion
      *ngIf="
        customerDetails &&
        customerDetails.customerStoreInfo &&
        customerDetails.customerStoreInfo.gstin
      "
      value="second"
    >
      <ion-item slot="header" color="light">
        <ion-label>GSTIN</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        {{ customerDetails.customerStoreInfo.gstin }}
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>
  <app-entries-ledger-list [ledgerData]="dummyData"></app-entries-ledger-list>
</div>
