<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="previousPage()" [disabled]="currentPage === 1">
        Previous
      </ion-button>
      <ion-button *ngFor="let page of previousPages" (click)="goToPage(page)">
        {{ page }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ currentPage }} / {{ totalPages }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngFor="let page of nextPages" (click)="goToPage(page)">
        {{ page }}
      </ion-button>
      <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Next
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Page Size:</ion-title>
    <ion-select
      [selectedText]="pageSize"
      [value]="pageSize"
      (ionChange)="changePageSize($event)"
    >
      <ion-select-option value="10">10</ion-select-option>
      <ion-select-option value="20">20</ion-select-option>
      <ion-select-option value="30">30</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-footer>
