.page-change-button {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  border: 1px solid;
}

ion-grid {
  padding: 0px;
}

ion-col {
  padding: 0px;
}

ion-grid {
  padding: 0px;
}

ion-row {
  padding: 0px;
}
