<ion-grid *ngIf="variants && variants.length > 0">
  <ion-row>
    <ion-col
      size-xs="12"
      size-lg="6"
      *ngFor="let variant of variants; let i = index"
    >
      <ion-card style="padding: 5px; margin: 0px">
        <ion-col>
          <ion-row>
            <ion-col>
              <div style="display: flex">
                <div style="width: 40px; height: 40px">
                  <ion-avatar
                    style="
                      --border-radius: 5px;
                      width: fit-content;
                      height: fit-content;
                    "
                  >
                    <ion-img
                      src="https://ionicframework.com/docs/img/demos/avatar.svg"
                    ></ion-img>
                  </ion-avatar>
                </div>
                <p>
                  {{ variant.properties | seperate }}
                </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-input
            [readonly]="readonly"
            label-placement="floating"
            fill="outline"
            label="Sells price"
            [(ngModel)]="variant.sellsPrice"
          ></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input
            [readonly]="readonly"
            label-placement="floating"
            fill="outline"
            label="Sku Id"
            [(ngModel)]="variant.skuId"
          ></ion-input>
        </ion-col>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
