<div class="home-header">
  <div style="flex: 1; display: flex">
    <p style="font-weight: 600">Hi, Welcome back</p>

    <p class="user-name">
      {{ "  " + userStoreInfoState?.name && userStoreInfoState?.name }} !
    </p>
    <p>👋</p>
  </div>

  <app-right-header></app-right-header>
</div>
<div style="background-color: var(--ion-color-secondary); height: 100%">
  <ion-row>
    <ion-col size-md="9">
      <ion-row>
        <ion-col>
          <div class="home-card" style="height: 100px; width: 100%">
            <p>Sales</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="home-card" style="height: 100px; width: 100%">
            <p>Purchases</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="home-card" style="height: 100px; width: 100%">
            <p>Expenses</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="home-card" style="height: 100px; width: 100%">
            <p>You'll Recieve</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="home-card" style="height: 100px; width: 100%">
            <p>You'll Pay</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div style="height: 100px; width: 100%" class="home-card">
            <p>Quick Actions</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col sizeMd="3">
      <ion-row>
        <ion-col>
          <div class="home-card" style="height: 100px; width: 100%">
            <p>Stock Value</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="home-card" style="height: 100px; width: 100%">
            <p>Low Stocks</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
