<ion-grid style="height: 100%">
  <ion-row style="height: 100%; overflow: hidden">
    <ion-col
      [size]="isDetailsViewOpen && !(screenState$ | async)?.isMobile ? 6 : 12"
    >
      <ng-content
        *ngComponentOutlet="listComponent; injector: dividedPagesInjector"
      >
      </ng-content>
      <ion-button
        style="display: flex; position: absolute; top: 0px; right: 0px"
        (click)="toggleDetailsView()"
        *ngIf="!(screenState$ | async)?.isMobile"
        fill="secondary"
      >
        <ion-icon
          [name]="
            isDetailsViewOpen
              ? 'chevron-forward-outline'
              : 'chevron-back-outline'
          "
        ></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col *ngIf="isDetailsViewOpen" size-md="6" size-sm="12">
      <ng-content *ngComponentOutlet="detailsComponent"></ng-content>
    </ion-col>
  </ion-row>
</ion-grid>
