<div style="padding: 10px; height: 100%">
  <ion-grid
    style="width: 100%; height: 100%; display: flex; flex-direction: column"
  >
    <h1>
      {{
        isGstEnabled
          ? verifyGstinResponse
            ? "Confirm your GST details"
            : "Please enter your registered GSTIN"
          : "Tell us a little about your business"
      }}
    </h1>
    <form
      *ngIf="isGstEnabled"
      style="
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 10px;
      "
      [formGroup]="gstinForm"
      (ngSubmit)="submitForm()"
    >
      <div style="flex: 1; gap: 10px" *ngIf="verifyGstinResponse">
        <ion-grid style="display: flex; flex-direction: column; gap: 10px">
          <ion-row>
            <ion-input
              label="GST Number"
              label-placement="floating"
              fill="outline"
              [value]="verifyGstinResponse.gstin"
              [disabled]="true"
            ></ion-input>
          </ion-row>
          <ion-row>
            <ion-input
              label="GST Number"
              label-placement="floating"
              fill="outline"
              [value]="verifyGstinResponse.lgnm"
              [disabled]="true"
            ></ion-input>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                label="GST Number"
                label-placement="floating"
                fill="outline"
                [value]="verifyGstinResponse.ctb"
                [disabled]="true"
              ></ion-input>
            </ion-col>
            <ion-col>
              <ion-input
                label="GST Number"
                label-placement="floating"
                fill="outline"
                [value]="verifyGstinResponse.rgdt"
                [disabled]="true"
              ></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="!verifyGstinResponse" style="flex: 1">
        <ion-input
          label="GST Number"
          label-placement="floating"
          fill="outline"
          formControlName="gstNumber"
        ></ion-input>
      </div>
      <ion-label
        (click)="
          onGSTEnabledChanged({
            detail: {
              value: false
            }
          })
        "
        style="width: 100%; text-align: center"
        color="medium"
        >Business not GST registered? Click here</ion-label
      >
      <ion-button
        *ngIf="!verifyGstinResponse"
        type="submit"
        [disabled]="gstinForm.invalid"
        >Verify GSTIN</ion-button
      >
      <ion-button (click)="onboardGSTStore()" *ngIf="verifyGstinResponse" [disabled]="!verifyGstinResponse"
        >Confirm GSTIN</ion-button
      >
    </form>
    <form *ngIf="!isGstEnabled">
      <div>
        <ion-row>
          <ion-col>
            <ion-input
              placeholder="First Name"
              formControlName="firstName"
            ></ion-input>
          </ion-col>
          <ion-col>
            <ion-input
              placeholder="Last Name"
              formControlName="lastName"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label>Business Type</ion-label>
          <ion-select formControlName="businessType">
            <ion-select-option value="Type 1">Type 1</ion-select-option>
            <ion-select-option value="Type 2">Type 2</ion-select-option>
            <ion-select-option value="Type 3">Type 3</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-radio-group
            (ionChange)="onGSTEnabledChanged($event)"
            allowEmptySelection="false"
            formControlName="isGstEnabled"
            [value]="isGstEnabled"
          >
            <ion-row>
              <ion-col>
                <ion-label>Yes</ion-label>
                <ion-radio [value]="true"></ion-radio>
              </ion-col>
              <ion-col>
                <ion-label>No</ion-label>
                <ion-radio [value]="false"></ion-radio>
              </ion-col>
            </ion-row>
          </ion-radio-group>
        </ion-item>

        <ion-item>
          <ion-label position="outline">Business Name</ion-label>
          <ion-input formControlName="businessName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Business Domain</ion-label>
          <ion-select formControlName="businessDomain">
            <ion-select-option value="Domain 1">Domain 1</ion-select-option>
            <ion-select-option value="Domain 2">Domain 2</ion-select-option>
            <ion-select-option value="Domain 3">Domain 3</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <ion-item>
        <ion-checkbox formControlName="authorization"></ion-checkbox>
        <ion-label
          >I authorize Tax payer corner to extract my credit report through an
          RBI-approved credit bureau.</ion-label
        >
      </ion-item>
      <ion-button type="submit" [disabled]="gstinForm.invalid"
        >Submit Details</ion-button
      >
    </form>
  </ion-grid>
</div>
