.product-hero-image-container {
  @media only screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main-scrollable-page {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 90vh;
  @media only screen and (max-width: 768px) {
    height: 85vh;
  }
}

.details-card {
  background-color: var(--ion-color-primary-contrast);
  border-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
  @media only screen and (max-width: 768px) {
    margin: 0px;
  }
}

.details-card ion-col {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;

  text-align: center;
}

.details-card ion-label {
  font-weight: 600;
}

ion-grid {
  padding: 0px;
  margin: 0px;
}

ion-col {
  padding: 0px;
  margin: 0px;
}

ion-row {
  padding: 0px;
  margin: 0px;
}
