.product-hero-image-container {
  @media only screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

p {
  color: black;
}

p .danger {
  color: var(--ion-color-danger) !important;
}

.main-scrollable-page {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
  @media only screen and (max-width: 768px) {
    height: 85vh;
  }

  @media only screen and (min-width: 768px) {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.details-card {
  background-color: var(--ion-color-primary-contrast);
  border-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
  @media only screen and (max-width: 768px) {
    margin: 0px;
  }
}

.details-card ion-col {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;

  text-align: center;
}

.details-card ion-label {
  font-weight: 600;
}

ion-grid {
  padding: 0px;
  margin: 0px;
}

ion-col {
  padding: 0px;
  margin: 0px;
}

ion-row {
  padding: 0px;
  margin: 0px;
}

.header-row {
  background-color: var(--ion-color-secondary);
  padding: 6px;
  margin-right: 0px;
}

.item-detail-row {
  margin: 15px;
}
