<div *ngIf="productDetails?.name">
  <ion-row class="header-row">
    <app-right-header style="width: 100%"></app-right-header>
  </ion-row>
  <div
    [class]="!isMobile ? 'scrollbar' : ''"
    [id]="!isMobile ? 'style-1' : ''"
    class="main-scrollable-page"
  >
    <div>
      <ion-grid>
        <ion-row>
          <div style="width: 100%; display: flex; justify-content: flex-end">
            <ion-button fill="outline" (click)="openEditProductModal()">
              <ion-icon name="pencil"></ion-icon>
            </ion-button>
          </div>
          <ion-accordion-group
            [multiple]="true"
            [value]="['first']"
            style="width: 100%"
          >
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-title>
                  {{ productDetails?.name }} | {{ productDetails?.hsnCode }}
                </ion-title>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-row>
                  <ion-col class="ion-hide-md-up" size-lg="4" size-xs="12">
                    <ion-row class="product-hero-image-container">
                      <div>
                        <ion-card
                          style="
                            width: 170px;
                            height: 170px;
                            border-radius: 5px;
                          "
                        >
                          <ion-img
                            [src]="
                              productDetails?.heroImage
                                ? productDetails?.heroImage
                                : 'https://www.chanchao.com.tw/images/default.jpg'
                            "
                          >
                          </ion-img>
                        </ion-card>
                      </div>
                    </ion-row>
                    <ion-row
                      *ngIf="
                        productDetails &&
                        productDetails.images &&
                        productDetails.images.length > 0
                      "
                      style="
                        display: flex;
                        overflow-x: scroll;
                        height: 100px;
                        gap: 10px;
                      "
                    >
                      <div
                        *ngFor="
                          let image of productDetails?.images;
                          let i = index
                        "
                        style="width: 50px; height: 50px"
                      >
                        <ion-card style="width: 50px; height: 50px">
                          <ion-img
                            style="width: 50px; height: 50px"
                            [src]="image"
                          >
                          </ion-img>
                        </ion-card>
                      </div>
                    </ion-row>
                  </ion-col>
                  <ion-col size-lg="8" size-xs="12">
                    <ion-row class="item-detail-row">
                      <ion-col>
                        <p class="bodySecondary">Sells Price</p>
                      </ion-col>
                      <ion-col>
                        <p class="bodyPrimary">
                          ₹
                          {{
                            productDetails &&
                            productDetails.margin &&
                            productDetails.asPerMargin &&
                            productDetails.purchasePrice
                              ? ((productDetails.margin + 100) *
                                  productDetails.purchasePrice) /
                                100
                              : productDetails?.sellsPrice
                          }}
                        </p>
                      </ion-col>
                    </ion-row>
                    <ion-row
                      *ngIf="type === ItemTypeEnum.PRODUCT"
                      class="item-detail-row"
                    >
                      <ion-col>
                        <p class="bodySecondary">Purchase Price</p>
                      </ion-col>
                      <ion-col>
                        <p class="bodyPrimary">
                          ₹ {{ productDetails?.purchasePrice | hyphen }}
                        </p>
                      </ion-col>
                    </ion-row>
                    <ion-row
                      *ngIf="type === ItemTypeEnum.PRODUCT"
                      class="item-detail-row"
                    >
                      <ion-col>
                        <p class="bodySecondary">Sells margin</p>
                      </ion-col>
                      <ion-col>
                        <p class="bodyPrimary">
                          {{ productDetails?.margin | hyphen }} %
                        </p>
                      </ion-col>
                    </ion-row>
                    <ion-row
                      *ngIf="type === ItemTypeEnum.PRODUCT"
                      class="item-detail-row"
                    >
                      <ion-col>
                        <p class="bodySecondary">Stock Quantity</p>
                      </ion-col>
                      <ion-col>
                        <p
                          [class]="
                            productDetails &&
                            productDetails.quantity &&
                            productDetails.lowStock &&
                            productDetails.quantity <= productDetails.lowStock
                              ? 'danger'
                              : ''
                          "
                          class="bodyPrimary"
                        >
                          {{ productDetails?.quantity }}
                        </p>
                      </ion-col>
                    </ion-row>
                    <ion-row
                      *ngIf="type === ItemTypeEnum.PRODUCT"
                      class="item-detail-row"
                    >
                      <ion-col>
                        <p class="bodySecondary">Stock Value</p>
                      </ion-col>
                      <ion-col>
                        <p class="bodyPrimary">
                          {{ productDetails?.purchasePrice | hyphen }}
                        </p>
                      </ion-col>
                    </ion-row>
                    <ion-row class="item-detail-row">
                      <ion-col>
                        <p class="bodySecondary">Unit</p>
                      </ion-col>
                      <ion-col>
                        <p class="bodyPrimary">
                          {{ productDetails?.unit?.name | hyphen }}
                        </p>
                      </ion-col>
                    </ion-row>
                    <ion-row
                      *ngIf="type === ItemTypeEnum.PRODUCT"
                      class="item-detail-row"
                    >
                      <ion-col>
                        <p class="bodySecondary">Low Stock</p>
                      </ion-col>
                      <ion-col>
                        <p class="bodyPrimary">
                          {{ productDetails?.lowStock | hyphen }}
                        </p>
                      </ion-col>
                    </ion-row>
                    <ion-row class="item-detail-row">
                      <ion-col>
                        <p class="bodySecondary">
                          {{ type === ItemTypeEnum.PRODUCT ? "HSN" : "SAC" }}
                          Code
                        </p>
                      </ion-col>
                      <ion-col>
                        <p class="bodyPrimary">
                          {{ productDetails?.hsnCode | hyphen }}
                        </p>
                      </ion-col>
                    </ion-row>
                    <ion-row class="item-detail-row">
                      <ion-col>
                        <p class="bodySecondary">GST %</p>
                      </ion-col>
                      <ion-col>
                        <p class="bodyPrimary">
                          {{ productDetails?.gstPercentage | hyphen }} %
                        </p>
                      </ion-col>
                    </ion-row>
                    <ion-row class="item-detail-row">
                      <ion-col>
                        <p class="bodySecondary">Cess %</p>
                      </ion-col>
                      <ion-col>
                        <p class="bodyPrimary">
                          {{ productDetails?.cess | hyphen }} %
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col class="ion-hide-md-down" size-lg="4" size-xs="12">
                    <ion-row class="product-hero-image-container">
                      <div>
                        <ion-card
                          style="
                            width: 170px;
                            height: 170px;
                            border-radius: 5px;
                          "
                        >
                          <ion-img
                            [src]="
                              productDetails?.heroImage
                                ? productDetails?.heroImage
                                : 'https://www.chanchao.com.tw/images/default.jpg'
                            "
                          >
                          </ion-img>
                        </ion-card>
                      </div>
                    </ion-row>
                    <ion-row
                      *ngIf="
                        productDetails &&
                        productDetails.images &&
                        productDetails.images.length > 0
                      "
                      style="
                        display: flex;
                        overflow-x: scroll;
                        height: 100px;
                        gap: 10px;
                      "
                    >
                      <div
                        *ngFor="
                          let image of productDetails?.images;
                          let i = index
                        "
                        style="width: 50px; height: 50px"
                      >
                        <ion-card style="width: 50px; height: 50px">
                          <ion-img
                            style="width: 50px; height: 50px"
                            [src]="image"
                          >
                          </ion-img>
                        </ion-card>
                      </div>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </div>
            </ion-accordion>
            <ion-accordion
              *ngIf="
                productDetails &&
                productDetails?.discounts &&
                productDetails.discounts.length > 0
              "
              value="second"
            >
              <ion-item slot="header">
                <p style="color: var(--ion-color-primary)" class="titleSmall">
                  Discounts
                </p>
              </ion-item>

              <div
                *ngIf="
                  productDetails &&
                  productDetails?.discounts &&
                  productDetails.discounts.length > 0
                "
                class="ion-padding"
                slot="content"
              >
                <app-discounts-list
                  style="width: 100%"
                  [discounts]="productDetails.discounts"
                  [readonly]="true"
                ></app-discounts-list>
              </div>
            </ion-accordion>
            <ion-accordion
              *ngIf="
                productDetails &&
                productDetails?.variants &&
                productDetails.variants.length > 0
              "
              value="third"
            >
              <ion-item slot="header">
                <p style="color: var(--ion-color-primary)" class="titleSmall">
                  Variants
                </p>
              </ion-item>

              <div
                *ngIf="
                  productDetails &&
                  productDetails?.variants &&
                  productDetails.variants.length > 0
                "
                class="ion-padding"
                slot="content"
              >
                <app-variants-list
                  style="width: 100%"
                  [variants]="productDetails.variants"
                  [readonly]="true"
                >
                </app-variants-list>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-row>
      </ion-grid>
      <ion-grid style="">
        <ion-row>
          <ion-title> ITEM ANALYTICS TRACKER </ion-title>
        </ion-row>
        <ion-row>
          <ion-chip [outline]="true">Today</ion-chip>
          <ion-chip [outline]="true">Yesterday</ion-chip>
          <ion-chip [outline]="true">This week</ion-chip>
          <ion-chip [outline]="true">This month</ion-chip>
          <ion-chip [outline]="true">Custom dates</ion-chip>
        </ion-row>
        <ion-row>
          <ion-card color="success">
            <ion-item>
              <ion-text color="success"> ₹90,000 Total Profit made </ion-text>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item> 100.00 Total Stock qty sold </ion-item>
          </ion-card>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row> </ion-row>
        <ion-row>
          <ion-grid>
            <ion-row class="header-row">
              <ion-col>
                <ion-text color="primary"> Stock Entry </ion-text>
              </ion-col>

              <ion-col>
                <ion-text color="primary"> STOCK OUT</ion-text>
              </ion-col>

              <ion-col>
                <ion-text color="primary"> STOCK IN</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text> 08 May 2023 • 03:47 pm Opening Balance </ion-text>
              </ion-col>

              <ion-col>
                <ion-text> 0 </ion-text>
              </ion-col>

              <ion-col>
                <ion-text> 10 </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text> 08 May 2023 • 03:47 pm Opening Balance </ion-text>
              </ion-col>

              <ion-col>
                <ion-text> 10 </ion-text>
              </ion-col>

              <ion-col>
                <ion-text> 0 </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button color="danger"> Stock out </ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="success"> Stock in </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>
