.reports-card {
  background-color: var(--ion-color-primary-contrast);
}

.header-row {
  display: flex;
  flex-direction: row;
  background-color: var(--ion-color-secondary);
  border-bottom: 1px solid var(--ion-color-secondary);

  @media only screen and (min-width: 768px) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.menu-button-mobile {
  @media only screen and (max-width: 768px) {
    flex: 1;
  }
}

.list-height {
  height: 65vh;
  @media only screen and (max-width: 768px) {
    height: 77vh;
  }
}
