<app-credit-debit-summary-card
  [creditDebitInput]="{
    debit: { title: 'You\'ll give', amount: 0, color: 'green' },
    credit: { title: 'You\'ll get', amount: 100, color: 'red' },
    ctaButton: {
      title: 'View Reports',
      icon: 'sds',
      onClick: onViewReportsClicked
    },
  }"
>
</app-credit-debit-summary-card>
<app-search-filter-sort></app-search-filter-sort>
<app-credit-debit-ledger-list
  [ledgerData]="dummyLedgerData"
></app-credit-debit-ledger-list>
<ion-button (click)="openAddCustomerModal()" fill="outline"
  >Add Customer</ion-button
>
