<div style="display: flex; flex-direction: column; overflow: hidden">
  <app-credit-debit-summary-card
    *ngIf="creditDebitSummaryData"
    [creditDebitInput]="creditDebitSummaryData"
  >
  </app-credit-debit-summary-card>
  <app-search-filter-sort></app-search-filter-sort>
  <app-credit-debit-ledger-list
    style="height: 60vh"
    [ledgerData]="ledgerData"
  ></app-credit-debit-ledger-list>
  <ion-button (click)="openAddCustomerModal()" fill="outline"
    >Add Customer</ion-button
  >
</div>
