<ion-header>
  <ion-toolbar>
    <app-dialog-header
      style="width: 100%"
      [headerTitle]="this.partyId ? 'Update ' + partyText : 'Add ' + partyText"
      [onClose]="onClosePartyCreationModal"
    >
    </app-dialog-header>
  </ion-toolbar>
</ion-header>
<div
  style="
    background-color: var(--ion-color-primary-contrast);
    height: 95%;
    overflow-y: scroll;
  "
>
  <form [formGroup]="partyForm">
    <br />
    <ion-accordion-group [multiple]="true" [value]="['first']">
      <ion-accordion value="first">
        <ion-item slot="header"
          ><p class="titleRegular">Basic information</p>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-input
                  style="width: 100%"
                  fill="outline"
                  id="gst-type-popover-button"
                  formControlName="gstTypeTitle"
                  placeholder="Select GST Type"
                  label="GST Type"
                  label-placement="stacked"
                >
                </ion-input>
              </ion-col>
              <ion-popover
                size="cover"
                trigger="gst-type-popover-button"
                [dismissOnSelect]="true"
              >
                <ng-template>
                  <ion-content>
                    <ion-list
                      style="max-height: 350px; overflow-y: scroll"
                      class="scrollbar"
                      id="style-1"
                    >
                      <ion-item
                        *ngFor="let gstType of gstTypeList; let i = index"
                        [button]="true"
                        [detail]="false"
                        (click)="selectGSTType(gstType)"
                        ><div
                          style="
                            display: flex;
                            flex-direction: column;
                            padding: 10px;
                          "
                        >
                          <p>{{ gstType.title }}</p>
                          <p class="caption">{{ gstType.subtitle }}</p>
                        </div></ion-item
                      >
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-row>
            <ion-row *ngIf="selectedGSTType?.isGstin">
              <ion-col size="8">
                <ion-input
                  label="GSTIN"
                  label-placement="stacked"
                  fill="outline"
                  placeholder="Add GSTIN"
                  formControlName="gstin"
                ></ion-input>
              </ion-col>
              <ion-col>
                <ion-button
                  [disabled]="isGSTLoading"
                  fill="clear"
                  (click)="onVerifyAndLoadGstInfo()"
                >
                  <p class="buttonRegular">
                    <ion-spinner *ngIf="isGSTLoading"></ion-spinner> Verify and
                    Load
                  </p>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  [label]="partyText + ' Name'"
                  label-placement="stacked"
                  fill="outline"
                  [placeholder]="'Enter ' + partyText + ' Name'"
                  formControlName="name"
                ></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  [readonly]="!!editParty"
                  [disabled]="!!editParty"
                  label="Phone Number"
                  label-placement="stacked"
                  fill="outline"
                  placeholder="Enter Phone Number"
                  formControlName="phoneNumber"
                ></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  label="Email"
                  label-placement="stacked"
                  fill="outline"
                  placeholder="Enter Email"
                  formControlName="email"
                ></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9">
                <ion-input
                  label="Opening Balance"
                  label-placement="stacked"
                  fill="outline"
                  type="number"
                  placeholder="Enter amount"
                  (ionInput)="updatePositiveBalance($event)"
                  value="{{ partyForm.value.balance | absValue }}"
                ></ion-input>
              </ion-col>
              <ion-col>
                <ion-list>
                  <ion-item>
                    <ion-select
                      [value]="balanceType"
                      interface="popover"
                      (ionChange)="onBalanceTypeChange($event)"
                    >
                      <ion-select-option value="give"
                        >You'll Give</ion-select-option
                      >
                      <ion-select-option value="get"
                        >You'll Get</ion-select-option
                      >
                    </ion-select>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header">
          <p class="titleRegular">Address (Optional)</p>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid>
            <div formGroupName="address">
              <ion-row formGroupName="shipping">
                <ion-grid>
                  <ion-row>
                    <p class="titleRegular">Shipping Address</p>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        label="Flat, House no., Building, Company, Apartment"
                        label-placement="stacked"
                        fill="outline"
                        formControlName="line1"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        label="Area, Street, Sector, Village"
                        label-placement="stacked"
                        fill="outline"
                        formControlName="line2"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        label="PIN Code"
                        label-placement="stacked"
                        fill="outline"
                        formControlName="pinCode"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        label="City"
                        label-placement="stacked"
                        fill="outline"
                        formControlName="city"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        label="State"
                        label-placement="stacked"
                        fill="outline"
                        formControlName="state"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-row>
              <ion-row>
                <ion-checkbox
                  labelPlacement="end"
                  [checked]="partyForm.value.address.billingSameAsShipping"
                  formControlName="billingSameAsShipping"
                  >Shipping address same as billing address
                </ion-checkbox>
              </ion-row>
              <ion-row
                *ngIf="!partyForm.value.address.billingSameAsShipping"
                formGroupName="billing"
              >
                <ion-grid>
                  <ion-row>
                    <p class="titleRegular">Billing Address</p>
                  </ion-row>
                  <ion-row>
                    <ion-input
                      label="Flat, House no., Building, Company, Apartment"
                      label-placement="stacked"
                      fill="outline"
                      formControlName="line1"
                    ></ion-input>
                  </ion-row>
                  <ion-row>
                    <ion-input
                      label="Area, Street, Sector, Village"
                      label-placement="stacked"
                      fill="outline"
                      formControlName="line2"
                    ></ion-input
                  ></ion-row>
                  <ion-row>
                    <ion-input
                      label="PIN Code"
                      label-placement="stacked"
                      fill="outline"
                      formControlName="pinCode"
                    ></ion-input
                  ></ion-row>
                  <ion-row>
                    <ion-input
                      label="City"
                      label-placement="stacked"
                      fill="outline"
                      formControlName="city"
                    ></ion-input>
                  </ion-row>
                  <ion-row>
                    <ion-input
                      label="State"
                      label-placement="stacked"
                      fill="outline"
                      formControlName="state"
                    ></ion-input
                  ></ion-row>
                </ion-grid>
              </ion-row>
            </div>
          </ion-grid>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </form>
</div>

<ion-button
  style="
    display: flex;
    position: sticky;
    height: 60px;
    align-items: center;
    bottom: 0px;
    justify-content: flex-end;
    padding: 10px;
  "
  type="submit"
  class="btn btn-primary"
  (click)="createOrUpdateParty()"
  [disabled]="partyForm.invalid"
  ><ion-spinner *ngIf="isLoading"></ion-spinner
  >{{ this.partyId ? "Update " + partyText : "Add " + partyText }}</ion-button
>
