/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  // border: 1px solid #ccc;
  // // border-style: dotted;
  // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  // // opacity: 0.9;
  min-height: 40px !important;
  // border-radius: 10px;
  --border-radius: 10px !important;
}

.side-modal {
  justify-content: end;
  height: 100%;
  --height: 100%;
  --width: 700px;
}

.side-modal .ion-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// .side-modal .ion-page .ion-content {
//   flex-grow: 1;
// }

.login-modal {
  align-items: center;
  justify-content: center;
  display: flex;
  --backdrop-opacity: 0.5 !important;
  @media only screen and (min-width: 768px) {
    --border-radius: 10px;
    --height: fit-content;
    --width: fit-content;
  }

  .common-modal {
    align-items: center;
    justify-content: center;
    display: flex;
    @media only screen and (min-width: 768px) {
      --border-radius: 10px !important;
      --height: fit-content;
      --width: fit-content;
    }
  }
}

.select-wrapper {
  background-color: var(--ion-color-primary-contrast) !important;
  border-radius: 5px !important;
}

ion-menu {
  // --width: 50px
}

ion-menu::part(backdrop) {
  background-color: rgba(0, 140, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

// typography.scss
