/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  // border: 1px solid #ccc;
  // // border-style: dotted;
  // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  // // opacity: 0.9;
  min-height: 40px !important;
  // border-radius: 10px;
  --border-radius: 10px !important;
}

.login-modal {
  align-items: center;
  justify-content: center;
  display: flex;
  --backdrop-opacity: 0.5 !important;
  @media only screen and (min-width: 768px) {
    --border-radius: 10px;
    --height: fit-content;
    --width: fit-content;
  }

  .common-modal {
    align-items: center;
    justify-content: center;
    display: flex;
    @media only screen and (min-width: 768px) {
      --border-radius: 10px !important;
      --height: fit-content;
      --width: fit-content;
    }
  }
}

ion-menu {
  // --width: 50px
}

ion-menu::part(backdrop) {
  background-color: rgba(0, 140, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

// typography.scss

// .display
.display {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
}

// .titleXLarge
.titleXLarge {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
}

// .titleLarge
.titleLarge {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0;
}

// .titleMedium
.titleMedium {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
}

// .titleRegular
.titleRegular {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

// .titleSmall
.titleSmall {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

// .bodyPrimary
.bodyPrimary {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

// .bodyLarge
.bodyLarge {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
}

// .bodySecondary
.bodySecondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

// .caption
.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

// .tiny
.tiny {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
}

// .subHeading
.subHeading {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
}

// .title1
.title1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

// .title1Mobile
.title1Mobile {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
}

// .title2
.title2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
}

// .title2Mobile
.title2Mobile {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

// .title3
.title3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

// .title3Mobile
.title3Mobile {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

// .title4
.title4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

// .textPlaceholder
.textPlaceholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

// .title4Mobile
.title4Mobile {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0;
}

// .bodyRegularMobile
.bodyRegularMobile {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}

// .bodyRegular
.bodyRegular {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

// .bodySmall
.bodySmall {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
}

// .buttonLarge
.buttonLarge {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

// .buttonRegular
.buttonRegular {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

// .captionMobile
.captionMobile {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
}

// .captionBold
.captionBold {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

// .text1Bold
.text1Bold {
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0;
}

// .toast
.toast {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

// .toastMobile
.toastMobile {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
}

.searchbar-input.sc-ion-searchbar-md {
  background-color: var(--ion-color-primary-contrast) !important;
}
