// ion-input {
//   --border: 1px solid;
//   --color: #fff;
//   --placeholder-color: #ddd;
//   --placeholder-opacity: 0.8;

//   --padding-bottom: 10px;
//   --padding-end: 10px;
//   --padding-start: 10px;
//   --padding-top: 10px;
// }

// ion-input .helper-text,
// ion-input .counter {
//   color: var(--ion-color-step-700, #373737);
// }

.item-form-input {
  font-size: 14px;
  @media only screen and (min-width: 768px) {
    --border-color: transparent;
  }
}

.item-form-col {
  @media only screen and (min-width: 768px) {
    border-bottom: 1px solid var(--ion-color-light-shade);
    border-right: 1px solid var(--ion-color-light-shade);
    padding: 10px;
  }
}

.item-form-col.last {
  border-right: 0px;
}

.item-form-col.row {
  border-top: 1px solid var(--ion-color-light-shade);
}

.item-form-input:hover {
  --border-color: var(--ion-color-primary);
}

.invoice-form ion-row {
  padding: 10px;
}

.total-info ion-row {
  padding: 5px;
}

.transaction-form-margin {
  margin-right: 100px;
  @media only screen and (max-width: 768px) {
    margin: 0px;
  }
}
