<!-- sales-creation-form.component.html -->
<ion-content >
  <ion-header>
    <ion-toolbar>
      <ion-title>
        New Sale
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="flex: 1; padding: 10px;">
          <form [formGroup]="salesForm" (ngSubmit)="createSale()">
            <ion-label position="stacked">Customer Name</ion-label>
            <ion-input fill="outline"></ion-input>
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input fill="outline"></ion-input>
            <ion-label position="stacked">Address</ion-label>
            <ion-input fill="outline"></ion-input>
            <ion-label position="stacked">GSTIN</ion-label>
            <ion-input fill="outline"></ion-input>
          </form>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="flex: 1; padding: 10px;">
          <form [formGroup]="salesForm" (ngSubmit)="createSale()">
            <ion-label position="stacked">Invoice Number</ion-label>
            <ion-input fill="outline"></ion-input>
            <ion-label position="stacked">Invoice Date</ion-label>
            <ion-input fill="outline"></ion-input>
            <ion-label position="stacked">Your GSTIN</ion-label>
            <ion-input fill="outline"></ion-input>
            <ion-label position="stacked">State of Supply</ion-label>
            <ion-input fill="outline"></ion-input>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div>
    <div style="display:flex; flex-direction: row;">



    </div>


    <!-- sales-form.component.html -->
    <ion-card>

      <form *ngIf="!(screenState$ | async)?.isMobile" [formGroup]="salesForm" (ngSubmit)="createSale()">
        <div class="form-row" style="display: flex; gap:20px">
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="slNo">SL. NO.</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="items">ITEMS</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="hsnSac">HSN/SAC</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="quantity">QUANTITY</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="unit1">UNIT</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="sellingPrice">SELLING PRICE</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="rate">RATE (INCL. DISCOUNT)</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="discount">DISCOUNT</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="gst">GST (%)</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="amount1">AMOUNT (₹)</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="amount1">Remove</p>
          </div>
        </div>
        <div class="form-row" style="display: flex; gap:20px" formArrayName="salesItems"
          *ngFor="let item of getFormControls.controls; let i=index">
          <ion-input class="form-group col" [value]="i" type="text" class="form-control" required></ion-input>
          <ion-input class="form-group col" type="text" class="form-control" required></ion-input>
          <ion-input class="form-group col" type="text" class="form-control" required></ion-input>
          <ion-input class="form-group col" type="number" class="form-control" required></ion-input>
          <ion-input class="form-group col" type="text" class="form-control" required></ion-input>
          <ion-input class="form-group col" type="number" class="form-control" required></ion-input>
          <ion-input class="form-group col" type="number" class="form-control" required></ion-input>
          <ion-input class="form-group col" type="number" class="form-control" required></ion-input>
          <ion-input class="form-group col" type="number" class="form-control" required></ion-input>
          <ion-input class="form-group col" type="number" class="form-control" required></ion-input>
          <div class="form-group col">

            <ion-icon style="cursor: pointer;" (click)="removeItem(i)" size="large" name="trash-outline"></ion-icon>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col">
            <ion-button type="button" class="btn btn-success" (click)="addItem()">Add Item</ion-button>
          </div>
        </div>
        <div class="form-row" style="display: flex; gap:20px; background-color: lightgray;">
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 140px;" position="stacked" for="slNo">Sub Total</p>
          </div>
          <div class="form-group col">
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="hsnSac"></p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="quantity"></p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="unit1"></p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="sellingPrice"></p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="rate">$10,000</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="discount">$1,000</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="unit2"></p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="gst">$1,000</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="amount1">$10,000</p>
          </div>
          <div class="form-group col">
            <p style="font-size: 12px;min-width: 70px;" position="stacked" for="amount1"></p>
          </div>
        </div>
      </form>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card style="height: fit-content;">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header" color="light">
                  <ion-label>Add optional information</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">First Content</div>
              </ion-accordion>
            </ion-accordion-group>
          </ion-card>
          <ion-card>
            <div>
              <form [formGroup]="salesForm" (ngSubmit)="createSale()">
                <ion-label position="stacked">Private notes only visible to you</ion-label>
                <ion-input fill="outline"></ion-input>
              </form>
            </div>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="flex: 1;">
            <ion-item style="display: flex; flex-direction: row;">
              <ion-label>Total Amount</ion-label>
              <p>
                $10,000
              </p>
            </ion-item>
            <form [formGroup]="salesForm" (ngSubmit)="createSale()">
              <ion-item>
                <ion-label>Paid via</ion-label>
                <ion-radio-group style="display: flex; flex-direction: row;" value="strawberries">
                  <ion-radio labelPlacement="end" value="grapes">Unpaid</ion-radio><br />
                  <ion-radio labelPlacement="end" value="strawberries">Cash</ion-radio><br />
                  <ion-radio labelPlacement="end" value="pineapple">Online</ion-radio><br />
                </ion-radio-group>
              </ion-item>
              <ion-label>Amount Paid</ion-label>
              <ion-input fill="outline"></ion-input>
            </form>
            <ion-item style="display: flex; flex-direction: row;">
              <ion-label>Balance Due</ion-label>
              <p>
                $1,000
              </p>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="display: flex; flex-direction: row; margin-bottom: 100px;">
    </div>
  </div>

  <ion-button
    style="display: flex;  position: sticky;height: 60px; align-items: center;bottom: 0px; justify-content: flex-end; padding: 10px; "
    type="submit" class="btn btn-primary">Create Sale</ion-button>
</ion-content>
